.image__container {
  width: 80%;
}

.image__content {
  width: 100%;
}

.image {
  opacity: 0;
  transition: opacity 1s ease;
}

.active {
  opacity: 1;
  transition: transform 1s ease;
  transform: scale(1.1);
}
