.image__container {
  width: 100%;
  height: 100%;
}

.image__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image {
  opacity: 0;
  transition: opacity 1s ease;
}

.image-active {
  opacity: 1;
  transition: transform 1s ease;
  transform: scale(1.1);
}
